body{
  background-color: black;
  margin: 0px;
}

#home{
  padding: 30px;
  background-image: url("Img/techback.jpg");
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}

#home img {
  height: 50%;
  width: 50%;

}
ul {
  text-color: black;
}

.navbar{
  margin-bottom: 0px !important;
}

h1 {
  color: white;
}

#about{
  width: 100%;
  background-color: #a1e0a1;
}


blockquote{
  font-style: italic;
  background-color: #606060;
  width: 700px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.transbox{
margin: 30px;
background-color: #ffffff;
opacity: 0.6;
width: 450px;
height: 200px;
}

div.transbox p{
  margin: 10%;
  color: black;
  text-align: left;
  padding: 0px;

}

#aboutUs{
  text-align: center;
  font-size: 100px;
  color: #54bf46;
}
